.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;

  width: 320px;

  background-color: var(--card-bg-color);
  border-radius: 16px;

  padding: 16px;
  margin-bottom: 8px;

  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  margin-right: 16px;
}

.name {
  font-size: 24px;
}

.value {
  font-size: 80px;
}

.metadata {
  display: flex;
  align-items: baseline;
  flex: 1 1 0; /* all items share the same width. */
}

.metadata::before {
  content: '';
  display: block;
  width: 10px;
  min-width: 10px;
  height: 10px;
  background-color: var(--card-separator-color);
  border-radius: 50%;
  margin: 0 8px;
}
