.fab {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 16px;
  right: 16px;
  width: auto;
  height: 40px;
  padding: 4px 16px;

  font-weight: 700;
  border-radius: 20px;
  box-sizing: border-box;

  background-color: var(--card-bg-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
      2px 4px 8px rgba(238, 226, 200, .48); /* seperator color */
}

.fab.expanded {
  flex-direction: column;
  width: auto;
  height: auto;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 4px;
}

.done-button {
  background: none;
  border: none;
  font-size: 1em;
  font-weight: 700;
  font-family: var(--app-font-family);
  color: var(--card-font-color);
  margin-left: auto;
  padding: inherit;
}

.label {
  height: 24px;
  line-height: 24px;
}

.filter-icon {
  height: 24px;
}

.filter-icon > svg {
  fill: var(--card-font-color);
}