.filter-options {
  display: flex;
  height: 40px;
  color: var(--card-font-color);
  border-radius: 16px;
  justify-content: space-between;
}

.filter-options:not(:last-child) {
  margin-bottom: 8px;
}

.filter-option {
  height: 100%;
  line-height: 40px;
  text-align: center;
  flex: 1;
}

.filter-option.active {
  background: var(--card-separator-color);
  border-radius: 20px;
  color: var(--card-font-color);
}

.filter {
  font-size: 20px;
  margin: 0 0.5rem;
}

.filter.selected {
  font-weight: 900;
  text-decoration: underline;
}

