.fab {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 100px;
  height: 40px;

  border: 2px solid var(--card-font-color);
  border-radius: 20px;
  box-sizing: border-box;

  background-color: var(--card-bg-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.fab.expanded {
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 8px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.done-button {
  background: none;
  border: none;
  font-size: 1em;
  color: var(--card-font-color);
  margin-left: auto;
}

.label {
  height: 24px;
  line-height: 24px;
}

.filter-icon {
  height: 24px;
}

.filter-icon > svg {
  fill: var(--card-font-color);
}