body {
  /** constants definitions **/
  --card-bg-color: #fefae3;
  --card-font-color: #857d68;
  --card-font-highlight-color: #34b2c6;
  --card-button-color: #25c5b6;
  --card-separator-color: #eee2c8;

  color: var(--card-font-color);
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin: 0;
}

#root {
  --pattern: rgba(238, 226, 200, .5); /* --card-separator-color */
  background: repeating-linear-gradient(
    45deg, 
    transparent, transparent 50px, 
    var(--pattern) 50px, var(--pattern) 100px);
}
